[Main]
username = <userid_to_use_with_mysql>
password = <mysql_password>
db = <db_name>
host = localhost

[Reports]
; setting to send email
; currently only gmail is supported as sender mailid
max_report_search_results = 2000
from_username = <visitorreports@gmail.com>
from_password = <gmail_id_password>

; whoever needs to see the reports
sendto          = <security_incharge@yahoo.com>

;sendto_2       = <another_mailid_to_send_reports_to@keeneye.com>
;sendto_3       = <securityvolunteer2@yahoo.com>
;securitymailid = <security_supervisor@yahoo.com>

[Backup]
backup_username = backup
backup_password = <backup_password>
backup_keyfile = ~/keyfile
